body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  /* background-color: rgba(102, 101, 101, 0.034); */
  background-image: url('./assets/more.jpg');
  height: 100%;
  background-color: #fa957ee0;
}
